/* take a look at https://ishadeed.com/article/defensive-css/ */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: sans-serif;
	line-height: 1.6;
}
main, header {
	max-width: 40rem;
	margin: 0 auto;
}
h1,h2,h3 {
	line-height: 1.2;
}
